---
---

{% raw %}
{% capture carousel_images %}
https://bit.ly/2BBbVhc
https://bit.ly/2DOtxXB
{% endcapture %}
{% include elements/carousel.html %}
{% endraw %}


{% capture carousel_images %}
{{ '/assets/img/posts/to-leo/Image-17.11.2020-at-21.57.jpeg' | relative_url }}
{{ '/assets/img/posts/to-leo/DSC_01397078.jpeg' | relative_url }}
{{ '/assets/img/posts/to-leo/Image-17.11.2020-at-21.56.jpeg' | relative_url }}
{{ '/assets/img/posts/to-leo/DSC_01512898.jpeg' | relative_url }}
{{ '/assets/img/posts/to-leo/DSC_01369931.jpeg' | relative_url }}
{{ '/assets/img/posts/to-leo/DSC_013296.jpeg' | relative_url }}
{{ '/assets/img/posts/to-leo/DSC_013150.jpeg' | relative_url }}
{{ '/assets/img/posts/to-leo/DSC_013739.jpeg' | relative_url }}
{{ '/assets/img/posts/to-leo/DSC_014791.jpeg' | relative_url }}
{% endcapture %}
{% include elements/carousel.html %}